table {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    width: 100px;
    vertical-align: middle;
}

td img {
    width: 100px;
    height: 100px;
}

.header-text {
    text-align: center;
    color: red;
    font-family: 'Impact', sans-serif;
    font-size: 2em; /* Ukuran font sebesar 2em untuk size=+3 */
}